/* signin-form start */
.container {
  min-height: 50vh;
  /* background-color: #f8f6f5; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-btn {
  display: flex;
}
.reset-input-text {
  position: relative;
  margin-right: 100px;
}
.input-text {
  margin-top: 20px;
  position: relative;
}
input[type="text"] {
  height: 35px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #cacacd;
  outline: 0;
  margin-bottom: 20px;
  /* padding: 0 20px 0 10px; */
  box-sizing: border-box;
  transition: all 0.5s;
}

input[type="email"] {
  height: 35px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #cacacd;
  outline: 0;
  margin-bottom: 20px;
  /* padding: 0 20px 0 10px; */
  box-sizing: border-box;
  transition: all 0.5s;
}

.reg-input-text {
  margin-top: 20px;
  padding-left: 100px;
  position: relative;
}
.confirm-password-input {
  padding-left: 100px;
  position: relative;
}
.mail-label {
  width: 100px;
  text-align: right;
}
.password-label {
  width: 100px;
  text-align: right;
}
.totp-label {
  width: 170px;
  text-align: left;
}
.reg-accname-label {
  width: 200px;
}
/* .input-text span {
  position: absolute;
  top: 6px;
  left: 10px;
  font-size: 14px;
  transition: all 0.5s;
} */
/* .input-text input:focus ~ span,
.input-text input:valid ~ span {
  top: -16px;
  font-size: 12px;
  font-weight: 600;
} */
input[type="password"] {
  height: 35px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #cacacd;
  outline: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: all 0.5s;
}

.input-text a {
  /* position: absolute; */
  top: -16px;
  right: 5px;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  float: right;
}

/* @keyframes check {
  0% {
    tranform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
} */
.sign-in {
  margin: 15px 0 15px 0;
  padding-top: 15px;
}
.sign-in button {
  margin-left: 100px;
  width: 150px;
  height: 37px;
  border-radius: 5px;
  background-color: #6c8bc5;
  color: #fff;
  font-size: 18px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}
.sign-up {
  padding-top: 20px;
  padding-left: 25px;
}
.sign-up button {
  width: 150px;
  height: 37px;
  border-radius: 5px;
  background-color: #6c8bc5;
  color: #fff;
  font-size: 18px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: 50px;
}
.otp-sign-in {
  margin: 15px 0 15px 0;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.otp-sign-in button {
  margin-left: 120px;
  width: 200px;
  height: 37px;
  border-radius: 5px;
  background-color: #6c8bc5;
  color: #fff;
  font-size: 18px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}

.img-fluid {
  max-width: 100%;
  height: 100%;
}
/* signin-form end */

/* header-display start */
.logo-icon {
  width: 70px;
  height: 80px;
  float: left;
  padding-top: 5px;
}
.row .service-title {
  width: 1250px;
  height: 80px;
  background-color: #6c8bc5;
  text-align: center;
  margin-top: 10px;
}
.service-title label {
  color: #fff;
  font-size: 25px;
  padding: 1.4rem;
}

.register button {
  width: 200px;
  height: 37px;
  border-radius: 5px;
  background-color: #6c8bc5;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  float: right;
}
/* .register button .profile-btn {
  width: 400px;
  height: 37px;
  border-radius: 5px;
  background-color: #6c8bc5;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  float: right;
} */
.totp-btn button {
  width: 200px;
  height: 37px;
  border-radius: 5px;
  background-color: #6c8bc5;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  float: left;
}

.login-image {
  min-height: 10px;
  text-align: center;
  width: 1200px;
  height: 100%;
  justify-content: center;
}
/* header-display end */

/* fileUpload start */
.lbl {
  border-radius: 5px;
  background-color: rgb(236, 35, 35);
  width: 350px;
  height: 45px;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 20px;
  font-size: 25px;
  color: white;
}

.lblFile {
  width: 110px;
  height: 110px;
  background-color: #9e9c9c;
  padding: 2rem 90px;
  margin-left: 80px;
  border-radius: 5px;
}

.lblFile label {
  font-size: 30px;
}

.lblText {
  width: 800px;
  height: 100px;
  background-color: #fff;
  border-style: solid;
  border-radius: 5px;
  padding-top: 22px;
  text-align: center;
  margin-bottom: 30px;
}

.filename-lbl {
  column-width: 400px;
  text-align: center;
}

.filesize-lbl {
  text-align: center;
}

.convert-td {
  padding-left: 50px;
}

.convert-td button {
  width: 100px;
  height: 37px;
  border-radius: 5px;
  background-color: #387c38;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.enable-label {
  width: 130px;
}

.scanner-lbl {
  margin-top: 10px;
}

.mfa-confirm-btn {
  width: 140px;
  height: 37px;
  border-radius: 5px;
  background-color: #6c8bc5;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.mfa-cancel-btn {
  width: 120px;
  height: 37px;
  border-radius: 5px;
  background-color: #dd5d46;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.reg-checkbox {
  transform: scale(2);
  border: none;
  outline-offset: 1px solid #3636db;
}

.reg-chk-td {
  padding-right: 20px;
}

.terms-of-service-link {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #6c8bc5;
  border-style: solid;
  width: 110px;
  height: 35px;
  text-align: center;
  padding-top: 4px;
}
/* fileUpload end */

/* signup modal popup start */

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  height: 550px;
  width: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

.modal-header {
  text-align: center;
  display: contents;
}

.modal-header h3 {
  margin-top: 0;
  color: #6c8bc5;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
  margin-top: -15px;
  width: 120px;
  height: 37px;
  border-radius: 5px;
  background-color: #6c8bc5;
  color: #fff;
  font-size: 18px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}

.signup-link {
  margin-left: 280px;
  padding-top: 30px;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter-from {
  opacity: 0;
}

.modal-leave-to {
  opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.textarea {
  height: 400px;
  width: 450px;
  border-color: #6c8bc5;
}
/* signup modal popup end */

/* resend-code start */
.resend-code {
  margin: 15px 0 15px 100px;
  padding-top: 15px;
}

.resend-code-atag {
  color: blue;
}
/* resend-code end */

/* confirm-acc-form start */
.errormsg {
  margin-top: 30px;
}

/* confirm-acc-form end */

/* drop-down start */
.dropdown-toggle:active,
.dropdown-toggle:hover,
.btn.show,
.open .dropdown-toggle {
  background: #4a69a3 !important;
}
/* drop-down end */
