/* common start */
.container {
  min-height: 35vh;
  justify-content: center;
  align-items: center;
}
.alert {
  text-align: center;
  width: 500px !important;
  padding: 0.5rem;
  align-content: stretch;
  margin-left: 380px;
  margin-top: 30px;
}
.alert-dismissible .btn-close {
  padding-top: revert;
  position: absolute;
  top: 2px;
  right: 2px;
}
input[type="text"],
input[type="password"] {
  height: 35px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #cacacd;
  outline: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: all 0.5s;
}
.mail-label {
  width: 110px;
  text-align: right;
  padding-bottom: 10px;
  padding-right: 10px;
}
button[disabled] {
  border: 0.3px solid #999999;
  background-color: #cccccc !important;
  color: #666666;
  cursor: not-allowed;
}
.img-fluid {
  max-width: 100%;
  height: 100%;
}
table {
  margin-top: 30px;
}
.password-input {
  position: relative;
  margin-top: 10px;
}
.password-input i {
  position: absolute;
  left: 210px;
  top: -2px;
  padding: 9px 8px;
  color: #aaa;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none !important;
}
/* common end */

/* sign-in start */
.signin-table {
  margin-left: 400px;
}
.signin-mail-label {
  width: 110px;
  text-align: right;
  padding-bottom: 20px;
  padding-right: 10px;
}
.password-label {
  width: 110px;
  text-align: right;
  padding-bottom: 10px;
  padding-right: 10px;
}
.totp-label {
  text-align: left;
  padding-bottom: 20px;
  padding-right: 10px;
}
.totp-table {
  margin-left: 345px;
}
.sign-in {
  margin: 15px 0 15px 0;
  padding-top: 15px;
}
.sign-in button {
  width: 150px;
  height: 37px;
  border-radius: 5px;
  background-color: #6c8bc5;
  color: #fff;
  font-size: 18px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}
/* sign-in end */

/* sign-up start */
.signup-mail {
  margin-top: 10px;
}
.account-name-label {
  width: 110px;
  text-align: right;
  padding-bottom: 20px;
  padding-right: 10px;
}
.reg-accname-label {
  width: 200px;
}
.sign-up-label {
  width: 200px;
}
.sign-up {
  padding-bottom: 10px;
}
.sign-up button {
  width: 150px;
  height: 37px;
  border-radius: 5px;
  background-color: #6c8bc5;
  color: #fff;
  font-size: 18px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: 50px;
}
.reg-checkbox {
  transform: scale(2);
  border: none;
  outline-offset: 1px solid #3636db;
}
.terms-of-service-link {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #6c8bc5;
  border-style: solid;
  width: 110px;
  height: 35px;
  text-align: center;
  padding-top: 4px;
}
.signup-link {
  margin-left: 180px;
  margin-top: 30px;
}
.signup-tbl {
  margin-left: 300px;
}
/* sign-up end */

/* signup modal popup start */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  height: 550px;
  width: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}
.modal-header {
  text-align: center;
  display: contents;
}
.modal-header h3 {
  margin-top: 0;
  color: #6c8bc5;
}
.modal-body {
  margin: 20px 0;
}
.modal-default-button {
  float: right;
  margin-top: -15px;
  width: 120px;
  height: 37px;
  border-radius: 5px;
  background-color: #6c8bc5;
  color: #fff;
  font-size: 18px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}
.modal-enter-from {
  opacity: 0;
}
.modal-leave-to {
  opacity: 0;
}
.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.textarea {
  height: 400px;
  width: 450px;
  border-color: #6c8bc5;
}
/* signup modal popup end */

/* confirm-account start */
.confirm-mail-label {
  width: 110px;
  text-align: right;
  padding-bottom: 30px;
  padding-right: 10px;
}
.resend-code {
  padding-top: 15px;
}
.resend-code-atag {
  color: blue;
}
/* confirm-account end */

/* change-password start */
.change-pass-table {
  margin-left: 328px;
}
.confirm-newpass-label {
  width: 170px;
}
/* change-password end */

/* password-reset start */
.reset-pass-table {
  margin-left: 400px;
}
.reset-pass-tbl {
  margin-left: 327px;
}
/* password-reset end */

/* header-display start */
.logo-icon {
  width: 70px;
  height: 80px;
  float: left;
  padding-top: 5px;
}
.row .service-title {
  width: 1250px;
  height: 80px;
  background-color: #6c8bc5;
  text-align: center;
  margin-top: 10px;
}
.service-title label {
  color: #fff;
  font-size: 25px;
  padding: 1.4rem;
}
.register button {
  width: 200px;
  height: 37px;
  border-radius: 5px;
  background-color: #6c8bc5;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  float: right;
}
.totp-btn button {
  width: 200px;
  height: 37px;
  border-radius: 5px;
  background-color: #6c8bc5;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  float: left;
}
/* header-display end */

/* fileDropZone start */
.file-drop-zone {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: dashed !important;
  background-color: #f7f7f9 !important;
}
.file-action-group {
  padding-top: 0.5rem;
}
.active {
  background-color: #a8a8ca !important;
}
.btn-browse-file {
  background-color: #6c8bc5 !important;
}
/* fileDropZone end */

/* fileItem start */
.file-item {
  border: 1px solid #787878;
  border-radius: 0.375rem;
  padding: 0.5rem;
}
.file-item .btn-complete {
  background-color: #2097f3 !important;
}
.file-item .btn-upload {
  border: none;
  outline: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  background-color: #8cc34a;
  color: #ffffff;
}
.download-action a {
  display: block;
}
.download-action {
  display: flex;
  gap: 1rem;
}
.btn-download-link {
  background-color: #f54337 !important;
  text-decoration: none;
}
/* fileItem end */

/* fileList start */
.file-list-container {
  background-color: #f7f7f9;
  padding: 0.5rem;
}
.file-list-container .file-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.empty-file-list {
  background-color: #f7f7f9;
  padding: 3rem 1rem;
}
/* fileList end */

/* fileUploadManager start */
.file-list {
  margin-bottom: 1rem;
}
.file-drop-zone {
  margin-bottom: 1rem;
}
.file-upload-manager {
  margin: 1rem;
  min-height: 50vh;
}
.file-action-group {
  display: flex;
  justify-content: flex-end;
}
.go-to-upload {
  margin-bottom: 1rem;
}
.btn-upload {
  background-color: #6c8bc5 !important;
}
/* fileUploadManager end */

/* totp start */
.scanner-lbl {
  margin-top: 10px;
}
.mfa-confirm-btn {
  width: 110px;
  height: 37px;
  border-radius: 5px;
  background-color: #6c8bc5;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}
.mfa-cancel-btn {
  width: 120px;
  height: 37px;
  border-radius: 5px;
  background-color: #dd5d46;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-left: -10px;
}
/* totp end */

/* menu drop-down start */
.dropdown-toggle:active,
.dropdown-toggle:hover,
.btn.show,
.open .dropdown-toggle {
  background: #4a69a3 !important;
}
/* menu drop-down end */
